@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #080808;
  background-color: white;
}

.custom-navbar {
  background-color: #4895ef;
}
.custom-navbar .custom-navbar-nav li {
  margin-right: 30px;
}
.custom-navbar .custom-navbar-nav li a {
  font-weight: 500;
  color: white;
  position: relative;
  z-index: 1;
  transition: 0.3s all ease;
}
.custom-navbar .custom-navbar-nav li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  background: #f6ae2d;
  height: 5px;
  visibility: visible;
  width: 0;
  transition: 0.15s all ease-out;
}
.custom-navbar .custom-navbar-nav li a:hover {
  opacity: 1;
}
.custom-navbar .custom-navbar-nav li a:hover:before {
  width: calc(100% - 16px);
}
.custom-navbar .navbar-brand {
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.hero {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/img/hero-bg.png");
  background-size: cover;
}
.hero h1 {
  font-family: "Instrument Serif";
  font-size: 8rem;
  color: white;
}
.hero .mockup {
  width: 100%;
  background-color: white;
  border-radius: 24px;
}

.section-title {
  font-family: "Instrument Serif";
  font-size: 6rem;
  color: white;
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #080808;
  background: white;
  border-color: white;
}
.btn:hover {
  color: white;
  background: #4895ef;
  border-color: rgb(242.25, 242.25, 242.25);
}
.btn.btn-secondary {
  color: white;
  background: #f6ae2d;
  border-color: #f6ae2d;
}
.btn.btn-secondary:hover {
  color: #f6ae2d;
  background: white;
  border-color: rgb(244.9520547945, 164.5684931507, 20.5479452055);
}

.about {
  padding: 4rem 6rem;
}
.about .about-box {
  background-color: #4895ef;
  padding: 2rem;
  border-radius: 28px;
}
.about .about-box p {
  font-size: 1.25rem;
  font-weight: 400;
  color: white;
}

/* Warna */
.card-blue {
  background: #4895ef;
}

.card-yellow {
  background: #f6ae2d;
}

.card-purple {
  background: #9267f4;
}

.card-green {
  background: #05c658;
}

.card-orange {
  background: #ea7317;
}

.card-pink {
  background: #d985b9;
}

.features {
  padding: 2rem 4rem;
  background-image: url("/assets/img/features-bg.png");
  background-size: cover;
}
.features .features-title {
  margin: auto 4rem;
  background-color: #4895ef;
  text-align: center;
  border-radius: 64px 64px 64px 0;
}
.features .features-card-container {
  position: relative;
  margin: 10rem auto;
  /* Rotasi beda-beda */
  /* Hover override supaya rotasi tidak hilang */
}
.features .features-card-container .features-card {
  width: 16rem;
  height: 16rem;
  border-radius: 28px;
  padding: 1rem;
  transition: 0.3s ease;
  transform-origin: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.features .features-card-container .features-card h3 {
  font-family: "Instrument Serif", sans-serif;
  font-size: 2.8rem;
  color: white;
}
.features .features-card-container .features-card:hover {
  transform: translateY(-20px) scale(1.07);
  z-index: 20;
}
.features .features-card-container .rotate-1 {
  transform: rotate(-10deg);
}
.features .features-card-container .rotate-2 {
  transform: rotate(3deg);
}
.features .features-card-container .rotate-3 {
  transform: rotate(-2deg);
}
.features .features-card-container .rotate-4 {
  transform: rotate(7deg);
}
.features .features-card-container .rotate-5 {
  transform: rotate(-8deg);
}
.features .features-card-container .features-card:hover.rotate-1 {
  transform: rotate(-10deg) translateY(-20px) scale(1.07);
}
.features .features-card-container .features-card:hover.rotate-2 {
  transform: rotate(3deg) translateY(-20px) scale(1.07);
}
.features .features-card-container .features-card:hover.rotate-3 {
  transform: rotate(-2deg) translateY(-20px) scale(1.07);
}
.features .features-card-container .features-card:hover.rotate-4 {
  transform: rotate(7deg) translateY(-20px) scale(1.07);
}
.features .features-card-container .features-card:hover.rotate-5 {
  transform: rotate(-8deg) translateY(-20px) scale(1.07);
}
.features .desc {
  margin: 10rem auto;
}
.features .desc .features-title {
  border-radius: 50px 50px 0 50px;
}
.features .desc .features-title p {
  font-size: 1.5rem;
  color: white;
}

.testimonial {
  padding: 10rem 4rem;
  background-color: #4895ef;
  background-image: url("/assets/img/testimonial-bg.png");
  background-size: cover;
}
.testimonial .testimonial-content {
  width: 100vw;
}
.testimonial .testimonial-content .testimonial-card {
  width: 23rem;
  height: 26rem;
  margin-right: 1rem;
  color: white;
  border-radius: 28px;
  padding: 1rem;
  cursor: pointer;
}
.testimonial .testimonial-content .testimonial-card img {
  width: 4rem;
  border-radius: 50%;
}
.testimonial .testimonial-content .testimonial-card h4 {
  font-family: "Instrument Serif";
}
.testimonial .testimonial-content .testimonial-card p {
  font-size: 2rem;
  font-weight: 200;
}
.testimonial .testimonial-content .testimonial-card .profile-role {
  font-size: 1rem;
}

.faq {
  padding: 15rem 4rem;
  background-image: url("/assets/img/faq-bg.png");
  background-size: cover;
}
.faq .faq-title {
  padding: 2rem;
  background-color: #4895ef;
  text-align: center;
  border-radius: 64px 64px 64px 0;
}
.faq .faq-title h2 {
  font-family: "Instrument Serif";
  font-size: 8rem;
  color: white;
}

footer {
  padding: 2rem 0;
  margin: 1rem;
  background-color: #4895ef;
  border-radius: 30px;
}
footer .footer-content {
  color: white;
  padding-bottom: 13rem;
}
footer .footer-content .logo-container {
  width: 40rem;
  background-color: #f6ae2d;
  border-radius: 14px;
  padding: 1rem;
}
footer .footer-content .logo-container img {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  float: right;
}
footer .footer-content .logo-container h3 {
  font-size: 5rem;
  font-weight: 500;
}
footer .footer-content .title-container {
  padding: 0.5rem;
  background-color: white;
  color: #4895ef;
  text-align: center;
  border-radius: 64px 64px 64px 0;
}
footer .footer-content a,
footer .footer-content p {
  font-size: 3rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
footer h2 {
  line-height: 13rem;
  font-size: 31.5rem;
  font-weight: 500;
  color: white;
}/*# sourceMappingURL=style.css.map */